{% extends 'base.html.twig' %}


{% block body %}
<div class="container my-5">
<h1 style="color: #ff8505">Espace membre</h1>

<div class="row">
    <div class="col-md-3">
        {% include 'account/_menu.html.twig' %}
    </div>
    <div class="col-md-9">
        <div class="d-flex justify-content-between mb-3">
            <a href="{{ path ('app_account') }}" class="btn btn-light btn-sm">⬅️ Retour</a>
            <a target="_blank" href="{{ path ('app_invoice_customer', { id_order : order.id }) }}" class="btn btn-warning btn-sm">📄 Ma facture</a>
        </div>
        
        <div class="card shadow-lg border-2 rounded-4 p-4" style="background-color: rgba(237, 237, 237, 0.85);">
            <h5 class="mb-3">Ma commande N°{{ order.id }}</h5>
            <span>Passée le : {{ order.createdAt|date('d/m/Y') }}</span>
            {{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}
        </div>

        <div class="row my-4">
            <div class="col-md-6">
                <div class="card shadow-lg border-2 rounded-4 p-4" style="background-color:rgba(237, 237, 237, 0.85);">
                    <strong>📦 Adresse de livraison :</strong></br>
                    {{ order.delivery|raw }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-lg border-2 rounded-4 p-4"style="background-color:rgba(237, 237, 237, 0.85);">
                    <strong>🚚 Transporteur :</strong></br>
                    {{ order.carrierName }}
                </div>
            </div>
        </div>

        <div class="card shadow-lg border-2 rounded-4 p-4" style="background-color:rgba(237, 237, 237, 0.85);">
            <strong>📋 Contenu de la commande :</strong></br>
            <table class="table table-bordered mt-3" style="--bs-table-bg: rgba(237, 237, 237, 0.85) !important;">
                <thead>
                    <tr>
                        <th scope="col">Illustration</th>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Total TVA</th>
                        <th scope="col">Total TTC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in order.orderDetails %}
                    <tr>
                        <td>
                            <img src="/uploads/{{ product.productIllustration }}" width="100px" alt="image du produit">
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productQuantity }}</td>
                        <td>{{ product.productPrice|price }}</td>
                        <td>{{ product.productTva }} %</td>
                        {% set coef = 1 + (product.productTva / 100) %}
                        <td>{{ ((product.productPrice * coef) * product.productQuantity)|price }}</td>
                    </tr>    
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>{{ order.carrierName }}</td>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td>{{ order.carrierPrice|price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card shadow-lg border-2 rounded-4 p-4 mt-4" style="background-color:rgba(237, 237, 237, 0.85);">
            <strong>Total HT :</strong> {{ (order.totalWt - order.totalTva)|price }}</br>
            <strong>Total TVA :</strong> {{ order.totalTva|price }} </br>
            <strong style="color: #ff8505;">Total TTC :</strong> {{ order.totalWt|price }}
        </div>
    </div>
</div>
</div>

{% endblock %}
