{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">

<div class="row">

    <!-- Image produit -->
    <div class="col-md-6">
        <div class="product-image-container mb-4">
            <img src="/uploads/{{product.illustration}}" class="img-fluid rounded shadow-sm" alt="{{product.name}}">
        </div>
    </div>

    <!-- informations produit -->
    <div class="col-md-6">

        <small><i><a href="{{ path('app_category', { slug: product.category.slug }) }}" class="text-warning">{{ product.category.name }}</a> > {{ product.name }}</i></small>
        
        <h1 class="mt-2">{{ product.name }}</h1>

        <span class="d-block mb-3 fs-4 text-danger"><strong>Prix :</strong> {{ product.pricewt|price }}</span>    

        <div class="product-description mb-4">
            {{ product.description|raw }}
        </div>

        <a href="{{ path('app_cart_add', { id: product.id }) }}" class="btn btn-lg btn-warning w-100 mt-3" style="background-color: #ff8508;">Ajouter au panier</a>
    </div>

</div>

</div>

{% endblock %}
