{% extends 'base.html.twig' %}


{% block body %}
    
<div class="container my-5">
    <div class="card shadow-lg border-0 rounded-4 p-4" style="background-color: #3A3A3A; color: white;">
        <h1 class="mb-3 text-center text-warning">Ma commande</h1>

        {{ form_start(deliveryForm, {'attr': {'class': 'needs-validation'}}) }}

        <div class="mb-3">
            <label class="form-label fw-bold text-white">Adresse de livraison</label>
            {{ form_row(deliveryForm.addresses, {'attr': {'class': 'form-select bg-dark text-white'}}) }}
            <a href="{{ path ('app_account_address_form') }}" class="btn btn-outline-warning btn-sm mt-2">
                ➕ Ajouter une adresse
            </a>
        </div>

        <hr class="my-4 border-light">

        <div class="mb-3">
            <label class="form-label fw-bold text-white">Mode de livraison</label>
            {{ form_row(deliveryForm.carriers, {'attr': {'class': 'form-select bg-dark text-white'}}) }}
        </div>
        
        {{ form_end(deliveryForm) }}
    </div>
</div>

{% endblock %}
