{% extends 'base.html.twig' %}


{% block body %}
    
<div class="container my-5">
    <div class="card shadow-lg border-2 rounded-4 p-4" style="background-color:rgba(231, 231, 231, 0.85);">
        <h1 class="mb-3 text-center" style="color: #ff8508;">Ma commande</h1>

        {{ form_start(deliveryForm, {'attr': {'class': 'needs-validation'}}) }}

        <div class="mb-3">
            <label class="form-label fw-bold text-dark">Adresse de livraison</label>
            {{ form_row(deliveryForm.addresses, {'attr': {'class': 'form-select text-dark shadow-lg'}}) }}
            <a href="{{ path ('app_account_address_form') }}" class="btn btn-outline-warning btn-sm mt-2">
                ➕ Ajouter une adresse
            </a>
        </div>

        <hr class="my-4 border-light">

        <div class="mb-3">
            <label class="form-label fw-bold text-dark">Mode de livraison</label>
            {{ form_row(deliveryForm.carriers, {'attr': {'class': 'form-select text-dark shadow-lg'}}) }}
        </div>
        
        {{ form_end(deliveryForm) }}
    </div>
</div>

{% endblock %}
